* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.container {
  background-color: rgb(14, 14, 14);
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url(img/Low-camp-nou.jpeg);
  background-repeat: no-repeat;
}

.caixa1 {
  background-color: rgba(10, 10, 10, 0.327);
  width: 500px;
  display: flex;
  justify-content: center;
  height: 200px;
  text-align: center;
  align-items: center;
  border-radius: 20px;
}

#relogio {
  height: 200px;
  width: 200px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  color: white;
  font-size: 150px;
}

.caixa2 {
  height: 100px;
  width: 300px;
  justify-content: space-around;
  display: flex;
  align-items: center;
}

button {
  height: 2.2em;
  width: 5.5em;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 3px 3px 3px;
  color: rgb(232, 239, 232);
  height: 40px;
  width: 80px;
  font-size: 18px;
  margin-top: 610px;
  background-color: rgba(10, 10, 10, 0.664);
}
